@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Quicksand:wght@300;400;500;600;700&family=Sacramento&display=swap');

/* font-family: 'Nanum Myeongjo', serif; for text or description
  font-family: 'Quicksand', sans-serif; for main menu
  font-family: 'Sacramento', cursive; for H1*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.leading-4 {
  line-height: 1.5rem;
}

.html-string > p {
  margin-top: 1em;
  display: block;
}

.html-string > p:after {
  content: '\A';
  white-space: pre;
}

.html-string > strong {
  font-weight: bold;
}

.html-string > img {
  margin: 0 auto;
  border-radius: 0.25rem;
}

.html-string > p > a {
  color: #616161;
  text-decoration: underline;
}

.html-string > p > a:hover {
  color: #ad1457;
  text-decoration: underline;
}

.html-string > a {
  color: #616161;
  text-decoration: underline;
}

.html-string > a:hover {
  color: #ad1457;
  text-decoration: underline;
}

.card .image-container {
  width: 100%;
}

.card .image-container div {
  position: unset !important;
}

.card .image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}